<div id="movieSection">
  <div class="footerSection container">
       
                <div class=" span4 socialicon">
                    <a class="facebook" href="http://www.facebook.com/xtendify"></a>
                    <a class="twitter" href="http://www.twitter.com/xtendify"></a>
                    <a class="html5" href="#"></a>
                    <a class="icon2" href="#"></a>
                </div>
          
    <div class="span8 copyright"><p>  Copyright 2014 | Developed By <a href="http://www.tb3.co.in">tB3</a></p></div>
  </div>
</div>